/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.loading {
  line-height: 100px;
  text-align: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

html {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}

#mainmap {
  position: absolute;
}

.mapcontain {
  position: absolute;
  top: 0;
  left: 0;
}

.info {
    padding: 6px 8px;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    line-height: 18px;
    color: #555;
}

#propinfo {
    position: absolute;
    top: 65px;
    left: 50px;
}

#propdetails {
    position: absolute;
    right: 0;
    top: 60px;
    height: 100%;
    width: 350px;
    z-index: 1001;
    border-radius: 0;
}

#hoodinfo {
    position: absolute;
    bottom: 20px;
    left: 20px; 
}

.info p{
    line-height: 12px;
}

.masthead {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: url("/public/images/black-tile-bg.png") repeat 0 0;
    z-index: 2;
}

.masthead .angular-leaflet-map {
    float: left;
    margin: 5px;
}

.legend {
    width: 150px;
    padding: 6px 8px;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    line-height: 18px;
    color: #555;
}

.legend i {
    clear: both;
    width: 16px;
    height: 16px;
    float: left;
    opacity: 0.7;
    margin-right: 8px;
}

.search input {
  font-size: 14px;
  width: 140px;
  height: 13px;
  margin: 14px;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.65);
  border: 1px solid #000;
  padding: 8px;
}

.angular-leaflet-map, .mapcontain {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}

.leaflet-control-zoom {
    top: 55px;
}

.info-label {
    white-space: nowrap;
}

.title {
    float: left;
    color: rgba(255, 255, 255, 0.9);
    font-size: 33px;
    margin: 5px 0 0 15px;
}

.search {
    float: right;
}

.search-title {
    float: left;
    color: rgba(255, 255, 255, 0.9);
    font-size: 22px;
    margin: 14px 0 0 0;
}

li.viols {
  overflow: hidden;
}
