/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "includes/reset";
@import "includes/leaflet";

$vshadow-r: transparent url('../images/vshadow-r.png') repeat-y top right; 
$vshadow-l: transparent url('../images/vshadow-l.png') repeat-y top left;

$hshadow-t: transparent url('../images/hshadow-t.png') repeat-x top right; 
$hshadow-b: transparent url('../images/hshadow-b.png') repeat-x top right;

$box-shadow: (#999 0 0 2px);
$border-radius: (2px) !important;

$white-tile: transparent url('../images/whitey.png') repeat top left;
$white-opac60: transparent url('../images/white60.png') repeat top left;
$white-opac30: transparent url('../images/white30.png') repeat top left;

$dark-border: 1px solid #999;
$light-border: 1px solid #FFF;

$sprite: url('../images/sprite.png') no-repeat top left; 

$font-family: Helvetica, Arial, 'sans-serif';

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	font-family: $font-family !important;
	@include text-shadow(#FFF 1px 1px 0);
}

.clear {
	clear: both;
}

h1 {
	font-size: 34px;
	font-weight: 700;
	letter-spacing: -1px;
	color: #444;
}

.header {
	height: 80px;
	width: 100%;
	min-width: 960px;
	border-bottom: 1px solid #999;
	z-index: 2;
	position: relative;
	background: $white-tile;
	h1 {
		position: absolute;
		top: 22px;
		left: 20px;
	}
	 
}

#main {
	width: 100%;
	min-height: 100%;
	min-width: 960px;
	height: 100%;
	z-index: 1;
	position: relative;
	overflow: hidden;
	.lmap-wrap {
		height: 100%; 
		width: 100%;
		margin-left: -300px; //need to fix this	
		overflow: hidden;
		float: left;
		position: relative;			
	}
		#lmapcontainer {
			height: 100%; 
			width: 100%;
			margin-left: 300px; 
		}
	.r-sidebar {
		position: relative;
		width: 299px;
		min-height: 100%;
		height: 100%;
		background: #CCC;
		float: right;
		border-left: 1px solid #999;
	}
}

.vacant-results {
	background: $white-tile;
	min-height: 100%;
	height: auto !important;
	padding-bottom: 20px;
}

.vacant-results-list {
	display: block;
	height: auto;
	overflow-y: scroll;
	li {
		padding: 10px;
		border-bottom: $light-border;
		border-top: $dark-border;
		span {
			display: block;
		}
	}
}

.search-msg-wrap {
	height: 40px;
	display: block;
}

#panoramacontainer {
	height: 220px;
	width: 100%;
}

.credits {
	height: 30px;
	position: absolute;
	bottom: 0;
	width: auto;
	display: block;
}

.more-info {
	position: absolute;
	right: 4px;
	top: 4px;
	
	border: 1px solid #CCC;
	background: #999;
	
	height: 12px;
	padding: 8px;
	line-height: 12px;
	
	font-size: 11px;
	font-weight: bold;	
}

.vshadow-l {
	background: $vshadow-l;
	height: 100%;
	width: 6px;
	z-index: 99999;

	position: absolute;	
	top: 0;
	left: 0;
}

.hshadow-t {
	background: $hshadow-t;
	width: 100%;
	height: 6px;
	z-index: 99999;
	
	position: absolute;
	top: 0;
	left: 0;
}

.search-controls {
	position: absolute;
	left: 360px;
	top: 18px;
	background: $white-opac60;
	
	@include box-shadow($box-shadow); 
	@include border-radius($border-radius);
}

.option-controls {
	display: none; //temp, until we establish what sort of search functions will be available
	position: absolute;
	left: 840px;
	top: 18px;
	background: $white-opac60;
	
	@include box-shadow($box-shadow); 
	@include border-radius($border-radius);
	
	.btn-check {
		height: 32px;
		display: block;
		text-indent: -9999px;
		width: 64px;
		background: #fff;
		border: #999;
		float: left;
		margin: 4px;
		border: 1px solid #333;
	}
	.ui-helper-hidden-accessible {
		position: absolute;
		clip: rect(1px,1px,1px,1px); //removes the actual checkbox box
		z-index: 1;
	}
}

.search {
	.input-bg {
		display: block;
		float: left;
		height: 32px; 
		margin: 4px;
		border: $dark-border;
		width: 400px;
		background-color: rgb(234,234,234); // Old browsers
		
		@include border-radius($border-radius);
		@include filter-gradient(#eaeaea, #ffffff, vertical); // IE6-9
		@include background-image(linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(247,247,247,1) 31%,rgba(255,255,255,1) 100%));
	}
	input {
		display: block;
		float: left;
		background: none;
		border: none;
	}
	.search-input {
		position: absolute;
		top: 6px;
		left: 6px;
		background: transparent;
		border: none;
		font-family: $font-family;
		font-size: 20px;
		line-height: 22px;
		font-weight: 100;
		margin: 3px;
		width: 390px;
		box-shadow: none;
		&:focus {
			border: none;
			box-shadow: none;
			outline: none;		
		}
	}
	.btn-submit {
		cursor: pointer;
		height: 34px;
		width: 34px;
		display: block;
		
		background: #4162A7 $sprite;
		border: 1px solid #073AA2;
		margin: 4px 4px 0 0;
		
		text-indent: -9999px;
		
		@include border-radius($border-radius);
		
		&:hover {
			background-position-y: -34px;
			@include box-shadow($box-shadow); 
		}
		&.ui-state-active {
			@include box-shadow(#333 0 1px 4px inset); 
		}
	}
	
}