link(rel="stylesheet", href="/public/styles.css")
link(rel="stylesheet", href="/lib/leaflet/css/leaflet.css")
script(src="/lib/leaflet/js/leaflet.js")
script(src="/lib/jquery/js/jquery-2.1.1.js")
script(src="/public/js/map.js")