extends layout

block content
  div.masthead
    leaflet#navmap(width=50, height=50)
    div.title Baltimore Vacants
    div.search 
      div.search-title Search:
      div(style='float:right;') 
        div#search
  div.mapcontain
    div#mainmap
    div.info.propinfo#propinfo
      div
    div.info.propdetails#propdetails
      div.location
        div.blocklot
        div.address
      div.pano#pano
      div.owner
      div.viol
      div.legal
    div.info.hoodinfo#hoodinfo
      div.owners
      div.types
      div.states
    div#owners
  span.loading.fa-gear.fa-spin Loading