extends layout

block content
  div#map(style="width: 1000px; height: 700px")
  div#status Ready
  input#owner_name(type="text")
  input#neighborhood(type="checkbox")
  input#properties(type="checkbox")
  button#multipoly(text="multipoly")