/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../../sass/screen.scss */
.loading {
  line-height: 100px;
  text-align: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
/* line 21, ../../sass/screen.scss */
.loading:before, .loading:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 32, ../../sass/screen.scss */
html {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 36, ../../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* line 43, ../../sass/screen.scss */
#mainmap {
  position: absolute;
}

/* line 47, ../../sass/screen.scss */
.mapcontain {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 53, ../../sass/screen.scss */
.info {
  padding: 6px 8px;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 18px;
  color: #555;
}

/* line 64, ../../sass/screen.scss */
#propinfo {
  position: absolute;
  top: 65px;
  left: 50px;
}

/* line 70, ../../sass/screen.scss */
#propdetails {
  position: absolute;
  right: 0;
  top: 60px;
  height: 100%;
  width: 350px;
  z-index: 1001;
  border-radius: 0;
}

/* line 80, ../../sass/screen.scss */
#hoodinfo {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* line 86, ../../sass/screen.scss */
.info p {
  line-height: 12px;
}

/* line 90, ../../sass/screen.scss */
.masthead {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: url("/public/images/black-tile-bg.png") repeat 0 0;
  z-index: 2;
}

/* line 101, ../../sass/screen.scss */
.masthead .angular-leaflet-map {
  float: left;
  margin: 5px;
}

/* line 106, ../../sass/screen.scss */
.legend {
  width: 150px;
  padding: 6px 8px;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 18px;
  color: #555;
}

/* line 118, ../../sass/screen.scss */
.legend i {
  clear: both;
  width: 16px;
  height: 16px;
  float: left;
  opacity: 0.7;
  margin-right: 8px;
}

/* line 127, ../../sass/screen.scss */
.search input {
  font-size: 14px;
  width: 140px;
  height: 13px;
  margin: 14px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.65);
  border: 1px solid #000;
  padding: 8px;
}

/* line 137, ../../sass/screen.scss */
.angular-leaflet-map, .mapcontain {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* line 144, ../../sass/screen.scss */
.leaflet-control-zoom {
  top: 55px;
}

/* line 148, ../../sass/screen.scss */
.info-label {
  white-space: nowrap;
}

/* line 152, ../../sass/screen.scss */
.title {
  float: left;
  color: rgba(255, 255, 255, 0.9);
  font-size: 33px;
  margin: 5px 0 0 15px;
}

/* line 159, ../../sass/screen.scss */
.search {
  float: right;
}

/* line 163, ../../sass/screen.scss */
.search-title {
  float: left;
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  margin: 14px 0 0 0;
}

/* line 170, ../../sass/screen.scss */
li.viols {
  overflow: hidden;
}

/* line 174, ../../sass/screen.scss */
div.pano {
  width: 355px;
  height: 200px;
}

/* line 179, ../../sass/screen.scss */
div.blocklot {
  float: left;
  font-size: 20px;
}

/* line 184, ../../sass/screen.scss */
div.address {
  float: right;
  font-size: 20px;
}

/* line 189, ../../sass/screen.scss */
span.ownertitle {
  font-size: 20px;
}

/* line 193, ../../sass/screen.scss */
span.violationtitle {
  font-size: 20px;
}
