body {
	font-family: 'PT Sans', sans-serif;
	background: #272727;
	color: #DFDECB;
	font-size: 16px;
	margin:0;
	height: 100%;
	width: 100%;
}

.header {
	background: #333;
	height: 40px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

#main {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 40px;
	left: 0;
}

#lmapcontainer {
	height: 100%;
	margin-right: 260px;	
}

.sidebar {
	width: 260px;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	height: 100%;
}


#search-msg-wrap {
	background: #CCC;
}

#panoramacontainer {
	width: 260px;
	height: 260px;
}

.expanded-listing {
	display: none;
}