/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/includes/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../sass/includes/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/includes/_reset.scss */
body {
  line-height: 1;
  font-family: Helvetica, Arial, 'sans-serif';
  font-size: 12px;
}

/* line 31, ../sass/includes/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../sass/includes/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/includes/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/includes/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* required styles */
/* line 14, ../sass/includes/_leaflet.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer {
  /* TODO optimize classes */
  position: absolute;
}

/* line 17, ../sass/includes/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
}

/* line 20, ../sass/includes/_leaflet.scss */
.leaflet-tile-pane {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 25, ../sass/includes/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 31, ../sass/includes/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* line 34, ../sass/includes/_leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 37, ../sass/includes/_leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* line 41, ../sass/includes/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 42, ../sass/includes/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 3;
}

/* line 43, ../sass/includes/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 4;
}

/* line 44, ../sass/includes/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 5;
}

/* line 45, ../sass/includes/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 6;
}

/* line 47, ../sass/includes/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* line 52, ../sass/includes/_leaflet.scss */
.leaflet-tile {
  visibility: hidden;
}

/* line 55, ../sass/includes/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 59, ../sass/includes/_leaflet.scss */
a.leaflet-active {
  outline: 2px solid orange;
}

/* Leaflet controls */
/* line 66, ../sass/includes/_leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
}

/* line 71, ../sass/includes/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
}

/* line 74, ../sass/includes/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 77, ../sass/includes/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 80, ../sass/includes/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 83, ../sass/includes/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 86, ../sass/includes/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 90, ../sass/includes/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 93, ../sass/includes/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 96, ../sass/includes/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 99, ../sass/includes/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 102, ../sass/includes/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* line 106, ../sass/includes/_leaflet.scss */
.leaflet-control-zoom, .leaflet-control-layers {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

/* line 111, ../sass/includes/_leaflet.scss */
.leaflet-control-zoom {
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
}

/* line 115, ../sass/includes/_leaflet.scss */
.leaflet-control-zoom a {
  background-color: rgba(255, 255, 255, 0.75);
}

/* line 118, ../sass/includes/_leaflet.scss */
.leaflet-control-zoom a, .leaflet-control-layers a {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 123, ../sass/includes/_leaflet.scss */
.leaflet-control-zoom a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 19px;
  height: 19px;
}

/* line 130, ../sass/includes/_leaflet.scss */
.leaflet-control-zoom a:hover {
  background-color: #fff;
}

/* line 133, ../sass/includes/_leaflet.scss */
.leaflet-big-buttons .leaflet-control-zoom a {
  width: 27px;
  height: 27px;
}

/* line 137, ../sass/includes/_leaflet.scss */
.leaflet-control-zoom-in {
  background-image: url(../images/zoom-in.png);
  margin-bottom: 5px;
}

/* line 141, ../sass/includes/_leaflet.scss */
.leaflet-control-zoom-out {
  background-image: url(../images/zoom-out.png);
}

/* line 145, ../sass/includes/_leaflet.scss */
.leaflet-control-layers {
  -moz-box-shadow: 0 0 7px #999;
  -webkit-box-shadow: 0 0 7px #999;
  box-shadow: 0 0 7px #999;
  background: #f8f8f9;
}

/* line 152, ../sass/includes/_leaflet.scss */
.leaflet-control-layers a {
  background-image: url(../images/layers.png);
  width: 36px;
  height: 36px;
}

/* line 157, ../sass/includes/_leaflet.scss */
.leaflet-big-buttons .leaflet-control-layers a {
  width: 44px;
  height: 44px;
}

/* line 162, ../sass/includes/_leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 165, ../sass/includes/_leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 169, ../sass/includes/_leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
  background: #fff;
}

/* line 175, ../sass/includes/_leaflet.scss */
.leaflet-control-layers input {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 180, ../sass/includes/_leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 183, ../sass/includes/_leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* line 189, ../sass/includes/_leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  margin: 0;
  padding: 0 5px;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 0 7px #ccc;
  -webkit-box-shadow: 0 0 7px #ccc;
  box-shadow: 0 0 7px #ccc;
}

/* Fade animations */
/* line 206, ../sass/includes/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 214, ../sass/includes/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded {
  opacity: 1;
}

/* line 218, ../sass/includes/_leaflet.scss */
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 226, ../sass/includes/_leaflet.scss */
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 230, ../sass/includes/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 237, ../sass/includes/_leaflet.scss */
.leaflet-zoom-anim .leaflet-objects-pane {
  visibility: hidden;
}

/* Popup layout */
/* line 244, ../sass/includes/_leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 249, ../sass/includes/_leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
}

/* line 253, ../sass/includes/_leaflet.scss */
.leaflet-popup-content {
  margin: 19px;
}

/* line 256, ../sass/includes/_leaflet.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 16px;
  position: relative;
  overflow: hidden;
}

/* line 263, ../sass/includes/_leaflet.scss */
.leaflet-popup-tip {
  width: 15px;
  height: 15px;
  padding: 1px;
  margin: -8px auto 0;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 276, ../sass/includes/_leaflet.scss */
.leaflet-popup-close-button {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 10px;
  height: 10px;
  overflow: hidden;
}

/* line 286, ../sass/includes/_leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* Visual appearance */
/* line 293, ../sass/includes/_leaflet.scss */
.leaflet-container {
  background: #ddd;
}

/* line 296, ../sass/includes/_leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 299, ../sass/includes/_leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #05f;
  background: white;
  opacity: 0.5;
}

/* line 304, ../sass/includes/_leaflet.scss */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  box-shadow: 0 1px 10px #888;
  -moz-box-shadow: 0 1px 10px #888;
  -webkit-box-shadow: 0 1px 14px #999;
}

/* line 311, ../sass/includes/_leaflet.scss */
.leaflet-popup-content-wrapper {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* line 316, ../sass/includes/_leaflet.scss */
.leaflet-popup-content {
  font: 12px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 319, ../sass/includes/_leaflet.scss */
.leaflet-popup-close-button {
  background: white url(../images/popup-close.png);
}

/* line 22, ../sass/screen.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* line 31, ../sass/screen.scss */
h1 {
  font-size: 32px;
  font-weight: 100;
}

/* line 36, ../sass/screen.scss */
.header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #999;
  z-index: 2;
  position: relative;
  background: transparent url("../images/whitey.png") repeat top right;
}
/* line 43, ../sass/screen.scss */
.header h1 {
  position: absolute;
  top: 24px;
  left: 20px;
}

/* line 51, ../sass/screen.scss */
#main {
  width: 100%;
  min-height: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
/* line 58, ../sass/screen.scss */
#main .lmap-wrap {
  height: 100%;
  width: 100%;
  margin-left: -300px;
  overflow: hidden;
  float: left;
  position: relative;
}
/* line 66, ../sass/screen.scss */
#main #lmapcontainer {
  height: 100%;
  width: 100%;
  margin-left: 300px;
}
/* line 71, ../sass/screen.scss */
#main .r-sidebar {
  position: relative;
  width: 299px;
  min-height: 100%;
  height: 100%;
  background: #CCC;
  float: right;
  border-left: 1px solid #999;
}

/* line 82, ../sass/screen.scss */
.vacant-results {
  background: transparent url("../images/whitey.png") repeat top right;
  min-height: 100%;
  height: auto !important;
  padding-bottom: 20px;
}

/* line 89, ../sass/screen.scss */
.vacant-results-list {
  display: block;
  height: auto;
  overflow-y: scroll;
}
/* line 93, ../sass/screen.scss */
.vacant-results-list li {
  padding: 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid #999999;
}
/* line 97, ../sass/screen.scss */
.vacant-results-list li span {
  display: block;
}

/* line 103, ../sass/screen.scss */
.search-msg-wrap {
  height: 40px;
  display: block;
}

/* line 108, ../sass/screen.scss */
#panoramacontainer {
  height: 220px;
  width: 100%;
}

/* line 113, ../sass/screen.scss */
.credits {
  height: 30px;
  position: absolute;
  bottom: 0;
  width: auto;
  display: block;
}

/* line 121, ../sass/screen.scss */
.more-info {
  position: absolute;
  right: 4px;
  top: 4px;
  border: 1px solid #CCC;
  background: #999;
  height: 12px;
  padding: 8px;
  line-height: 12px;
  font-size: 11px;
  font-weight: bold;
}

/* line 137, ../sass/screen.scss */
.controls {
  position: absolute;
  left: 360px;
  top: 30px;
}

/* line 143, ../sass/screen.scss */
.vshadow-l {
  background: transparent url("../images/vshadow-l.png") repeat-y top left;
  height: 100%;
  width: 6px;
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 154, ../sass/screen.scss */
.hshadow-t {
  background: transparent url("../images/hshadow-t.png") repeat-x top right;
  width: 100%;
  height: 6px;
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 165, ../sass/screen.scss */
.search {
  border: 1px solid #999999;
}
